@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-onyx: rgb(53, 53, 53);
  --color-cream: #f8ebd1;
  --color-pista: #cddeff;
  --text-bold: 500;
  --text-black: 900;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  line-height: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "Catamaran", sans-serif;
  color: var(--color-onyx);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--color-cream);
  padding: 1em;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  max-width: 150ch;
  margin: 5em auto;
  height: 20vh;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: var(--text-bold);
  line-height: 1;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  row-gap: 1em;
  margin-top: 1.5em;
}

.nextsong-details {
  display: flex;
  flex-direction: column;
}

/* Player body */

.player-ui {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5em;
  height: 10em;
  justify-content: space-evenly;
  padding: 2vh 0;
}

.music-player {
  margin: 7rem auto;
  max-width: 30rem;
  background: var(--color-pista);
  color: var(--color-onyx);
  border-radius: 5px;
  box-shadow: 0px 1px 15px -1px var(--color-onyx);
}

.pagetitle {
  font-size: 5em;
  word-wrap: break-word;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  width: fit-content;
}

/* body cover */
.music-player--details {
  position: relative;
}

.details-img img {
  max-width: 100%;
  border-radius: 0.25rem;
}

/* Controls */

.music-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.music-player--controls .play-btn {
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  box-shadow: 0px 1px 10px -1px var(--color-onyx);
}

.play-btn:focus {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
}

.play-btn:hover {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  cursor: pointer;
}

.music-player--controls .skip-btn {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
}
.skip-btn:focus {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
}

.skip-btn:hover {
  cursor: pointer;
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
}

/* Image */
.details-img--image {
  padding-top: 1em;
  width: 25rem;
  height: auto;
}

/* Artist Info */

.artist-info {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.details-title {
  margin-bottom: 0.5rem;
}

.details-artist {
  font-size: 0.75rem;
  font-weight: 300;
  color: #666;
}

.info__song {
  font-size: 1.15rem;
  font-weight: 400;
  color: #d30320;
}

/* Footer */

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__link {
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.list__link:focus,
.list__link:hover {
  color: #d30320;
}

.player__footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.list--footer a {
  opacity: 0.5;
}
.list--footer a:focus,
.list--footer a:hover {
  opacity: 0.9;
}
.list--footer {
  justify-content: space-between;
}

/* Next songs */

.nextsong-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px;
  height: 4em;
  font-size: 2em;
}

.nextsong {
  font-size: 3em;
}

.nextsong-details img {
  border-radius: 1rem;
}

.nextsong-details p {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  font-size: 1.2em;
}

/* Media Queries */

@media (min-width: 768px) {
}

@media (min-width: 1024px) {

  .navbar {
    flex-direction: row;
  }

  .pagetitle {
    font-size: 12em;
  }

  .navlinks {
    margin-top: 0;
  }
}
